.comments-form {
  width: 95%;
  min-height: 85px; 
  margin: 0 auto;
}

.comment-rating{
  font-size: 20px;
  color: gold;
}
.comment-text{
  width: 100%;
  height: 100px;
  background-color: #F0F0F0;
  border: none;
}

.comment-form{
  margin-top: 15px;
}

.comment-post-btn{
    width: 100px;
    height: 50px;
    color: #FFFFFF;
    background-color: #4CAF50;
    display: block;
    margin: 15px auto;
    border: none;
    border-radius: 5px; 
}