<%= include_gon %>

<div id="map" data-house-icon-url="<%= asset_path('house.svg') %>" data-restroom-icon-url="<%= asset_path('public.png') %>" data-route-icon-url="<%= asset_path('route.png') %>"></div>

<div id="infoPanel" class="info-panel"></div>

<script>
  
 if (typeof window.googlemapKey === 'undefined') {
  window.googlemapKey = gon.googlemap_key;
  }
  
  function loadGoogleMapsAPI() {
    ((g) => {
      var h,
        a,
        k,
        p = "The Google Maps JavaScript API",
        c = "google",
        l = "importLibrary",
        q = "__ib__",
        m = document,
        b = window;
      b = b[c] || (b[c] = {});
      var d = b.maps || (b.maps = {}),
        r = new Set(),
        e = new URLSearchParams(),
        u = () =>
          h ||
          (h = new Promise(async (f, n) => {
            await (a = m.createElement("script"));
            e.set("libraries", [...r] + "");
            for (k in g)
              e.set(
                k.replace(/[A-Z]/g, (t) => "_" + t[0].toLowerCase()),
                g[k]
              );
            e.set("callback", c + ".maps." + q);
            a.src = `https://maps.${c}apis.com/maps/api/js?` + e;
            d[q] = f;
            a.onerror = () => (h = n(Error(p + " could not load.")));
            a.nonce = m.querySelector("script[nonce]")?.nonce || "";
            m.head.append(a);
          }));
      if (!d[l]) {
        d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n));

        // APIのロードを試みる
        u().then(() => {
            // ここでAPIがロードされた後の処理を行う
            // 例えば、マップを初期化するなど
        }).catch(error => {
            console.error("Google Maps APIのロードに失敗しました:", error);
        });
    }
    })({
      key: googlemapKey,
      v: "beta",
    });
  };
  <!-- マップの表示 -->

document.addEventListener('turbo:load', () => {
  // マップを表示するDOM要素の存在をチェック
  const mapElement = document.getElementById("top-map") || document.getElementById("map");

  // DOM要素が存在する場合のみマップを初期化
  if (mapElement) {
    loadGoogleMapsAPI(); // マップを初期化する関数を呼び出し
  }
});

</script>