<%= include_gon %>

<div id="map" data-house-icon-url="<%= asset_path('house.svg') %>" data-restroom-icon-url="<%= asset_path('public.png') %>" data-route-icon-url="<%= asset_path('route.png') %>"></div>

<div id="infoPanel" class="info-panel"></div>

