.header {
  height: 50px;
  padding: 20px 20px 0 20px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header_btn{
  font-size: 14px; 
  text-align: center;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.nav-right-wrapper{
  display: flex;
  flex-direction: column;
}

.humburger-menu{
  display: inline-block;
  text-align: right;
}

.nav-right{
  display: none;
  width:100px;
  height: auto;
  position: relative;
}

.nav-btn-wrapper{
  width:130px;
  margin: 0 auto;
  background-color:#ffffff;;
  align-items: flex-end;
  position: absolute;
  top:0px;
  right: 0px;
  z-index: 1;
}

.nav_btn{
  width: 80px;
  display: inline-block;
  color: #000000;
  padding: 7px 20px;
  text-decoration: none;
  user-select: none;
  border-bottom: 2px solid #f0f0f0;
  position: relative;
}

/* 矢印アイコンの作成 */
.nav_btn:before {
  content: "";
  position: absolute;
  top: 40%;
  right: 0px;
  width: 10px;
  height: 2px;
  background: black;
  transform: rotate(45deg);
}

.nav_btn:after {
  content: "";
  position: absolute;
  top: 55%;
  right: 0px;
  width: 10px;
  height: 2px;
  background: black;
  transform: rotate(-45deg);
}

@media (min-width:599px){
  .header_btn{
    font-size: 24px;
  } 

  .nav_btn{
    border-bottom: none;
  }

}
  

@media (min-width:1024px){
    .header_btn{
      font-size: 24px;
    }

    .humburger-menu{
    display: none;
    }
    
    .nav-right{
      display:inline-block ;
      width: 300px;
      position: none;
    }

    .nav-btn-wrapper{
      width:300px;
      position: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav__btn{
      width: auto;
      display: block;
      color: #000000;
      padding: 10px 0;
    }
}