.header {
  height: 50px;
  padding: 20px 20px 0 20px;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header_btn{
  font-size: 20px; 
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 3px;
}

.nav-right-wrapper{
  display: flex;
  flex-direction: column;
}

.humburger-menu{
  display: inline-block;
  text-align: right;
  height: 30px;
}

.nav-right{
  display: none;
  width:100px;
  height: 30px;
  position: relative;
}

.nav-btn-wrapper{
  width:100px;
  background-color:#ffffff;;
  align-items: flex-end;
  position: absolute;
  top:0px;
  right: 0px;
  z-index: 1;
}

.nav_btn{
  width: 100px;
  display: inline-block;
  color: #000000;
  padding: 10px 0;
  text-decoration: none;
  border-bottom: 1px solid #f0f0f0;
}

@media (min-width:599px){
  .header_btn{
    font-size: 32px;
  } 

}
  

@media (min-width:1024px){
    .header_btn{
      font-size: 32px;
    }

    .humburger-menu{
    display: none;
    }
    
    .nav-right{
      display:inline-block ;
      width: 300px;
      position: none;
    }

    .nav-btn-wrapper{
      width:300px;
      position: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav__btn{
      width: auto;
      display: block;
      color: #000000;
      padding: 10px 0;
    }
}