
/* マップ一覧画面 */

#map {
  height: 95%;
}

.info-panel {
  display: none;
  position: absolute;
  transition: opacity 1.0s ease-in-out; 
  top: 75px;
  left: 0;
  width: 100%; /* 左半分の幅 */
  height: 90%;
  background-color: white; /* 背景色 */
  box-sizing: border-box;
}

/* JavaScriptでこのクラスを切り替える */
.infoPanel-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0.5s linear;
}

.info-panel img{
  max-width: 500px;
  max-height: 300px;
  object-fit: contain;
}


@media (min-width:599px){
  .info-panel {
    display: none;
    position: absolute;
    transition: opacity 1.0s ease-in-out; 
    top: 75px;
    left: 0;
    width: 50%; /* 左半分の幅 */
    height: 90%;
    background-color: white; /* 背景色 */
    box-sizing: border-box;
  }
}

@media (min-width:1024px){
  .info-panel {
    display: none;
    position: absolute;
    transition: opacity 1.0s ease-in-out; 
    top: 75px;
    left: 0;
    width: 25%; /* 左半分の幅 */
    height: 90%;
    background-color: white; /* 背景色 */
    box-sizing: border-box;
  }
}