/* 画像投稿画面 */
.facility {
  width: 100%;
  padding-left: 30px;
  margin: 0 auto;
}

.facility p{
  font-size: 20px;
  color: black;
}

.facility-form {
  margin-top: 15px;
  margin-bottom: 15px;
}

.facility-form label {
  margin-bottom: 5px;
}

.facility-form input[type="text"]{
  width: 75%;
  background-color: #F0F0F0;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

.facility-check-box{
  display: block;
  margin-bottom: 5px;
}

.check-box-contents {
  margin-bottom: 20px;
}

.check-box-contents p{
  font-size: 16px;
  margin-bottom: 10px;
}
.check-box-contents label {
  margin-right: 10px;
}

.click-upload {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 20px;
}

.click-upload label {
  color: #FFFFFF;
  background-color: #4CAF50;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s; /* スムーズなホバー効果を追加 */
}

.item-image-btn {
  position: absolute;
  top: 10px;
  left:10px;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background-color 1.0s, color 1.0s; /* スムーズなホバー効果を追加 */
}


.preview-image{
  width: 200px;
  margin-top: 10px;
}

.facility-post-btn {
  width: 100px;
  height: 50px;
  color: #FFFFFF;
  background-color: #4CAF50;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
}


.facility-place-form{
  display: none;
}
@media (min-width:599px){

  .facility {
    width: 75%;
    margin: 0 auto;
  }

}
  

@media (min-width:1024px){

  .facility {
    width: 600px;
    margin: 0 auto;
  }

}