/* トップ画面 */

.top-bar{
  margin-top: 100px;
}
.top-bar h1{
  width: 350px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.top-bar p{
  width: 300px;
  font-size: 20px;
  margin-top: 10px;
  text-align: top;
  margin: 0 auto;
}

.search{
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}

.search-btn{
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #4CAF50;
  padding: 10px 10%;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s; /* スムーズなホバー効果を追加 */
  position: relative;
}

/* 矢印アイコンの作成 */
.search-btn:before {
  content: "";
  position: absolute;
  top: 40%;
  right: 12px;
  width: 10px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
}

.search-btn:after {
  content: "";
  position: absolute;
  top: 55%;
  right: 12px;
  width: 10px;
  height: 2px;
  background: #fff;
  transform: rotate(-45deg);
}

.point-logo{
  font-size: 20px;
  text-align: center;
}

.points ul{
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.point-text{
  width: 300px;
  font-size: 20px;
  margin-top: 25px;
}

.pict{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.point-pict{
  margin-top: 10px;
  width: 300px;
  height: 300px;
}

.map{
  margin-top: 100px;
}

.map p{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.map-pict{
  width: 100px;
  height: 100px;
}

.top-map {
  width: 90%;
  height: 500px;
  margin: 30px auto;
}


/* 矢印アイコンの作成 */
.search-btn:before {
  content: "";
  position: absolute;
  top: 40%;
  right: 12px;
  width: 10px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
}

.search-btn:after {
  content: "";
  position: absolute;
  top: 55%;
  right: 12px;
  width: 10px;
  height: 2px;
  background: #fff;
  transform: rotate(-45deg);
}

.location-button:before {
  content: "";
  position: absolute;
  top: 40%;
  right: 12px;
  width: 10px;
  height: 2px;
  background: #fff;
  transform: rotate(45deg);
}

.location-button:after {
  content: "";
  position: absolute;
  top: 55%;
  right: 12px;
  width: 10px;
  height: 2px;
  background: #fff;
  transform: rotate(-45deg);
}


.bottom-bar {
  margin-top: 10px;
}

@media (min-width:599px){
  body{
    width: 100%;
    margin: auto;
  }

  .top-bar h1{
    width:100%;
  }
  
  .top-bar p{
    width: 75%;
    font-size: 20px;
  }

  .point-pict{
    width: 200px;
    height: 200px;
  }

  .point-logo{
    font-size: 20px;
    text-align: center;
  }

  .point-text{
    width: 200px;
    text-align: center;
  }

  .points ul{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}

@media (min-width:700px){
  body{
    width: 90%;
    margin: auto;
  }

  .top-bar h1{
    width:100%;
  }
  
  .top-bar p{
    width: 75%;
    font-size: 20px;
  }

  .point-pict{
    width: 200px;
    height: 200px;
  }

  .point-logo{
    font-size: 20px;
    text-align: center;
  }

  .point-text{
    width: 200px;
    text-align: left;
  }

  .points ul{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}

@media (min-width:1024px){
  body{
    width: 65%;
    margin: auto;
  }

  .top-bar h1{
    width:100%;
  }
  
  .top-bar p{
    width: 75%;
    font-size: 20px;
  }

  .point-pict{
    width: 200px;
    height: 200px;
  }

  .point-logo{
    font-size: 20px;
    text-align: center;
  }

  .point-text{
    width: 200px;
    text-align: left;
  }

  .points ul{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
}