#map {
  height: 95%;
}

.info-panel {
  width: 100%;
  height: 90%;
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: white;
}

/* JavaScriptでこのクラスを切り替える */
.infoPanel-visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0.5s linear;
}

.info-panel img{
  max-width: 500px;
  max-height: 300px;
  object-fit: contain;
}


@media (min-width:599px){
  .info-panel {
    width: 50%;
    display: none;
  }
}

@media (min-width:1024px){
  .info-panel {
    width: 25%;
    display: none;
  }
}