.comments-page-wrapper{
  width: 95%;
  margin: 0 auto;
}

.comment-details{
  border-bottom: 1px solid #808080;
}

.post-page {
  width: 100%;
  margin-bottom: 10px;
}

.comment-facility-name{
  width:200px;
  margin-bottom: 20px;
}

.post-image{
  width: 400px;
  height: auto;
  margin: 0 auto;
}

.post-image-pic {
  width: 400px;
  height: auto;
}

.comment-details{
  width: 400px;
  margin: 20px auto;
}

.facility-name{
  
}

.user-email{
  margin-bottom: 20px;
}

.post-review-average{
  width: 350px;
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.post-review-average-content{
  width:100px;
  text-align: center;
}

.star-rating{
  width: 100px;
}

.star-rating img{
  width: 16px; 
}

.comments {
  width: 400px;
  margin: 0 auto;
}

.comment-title {
  text-align: left;
  margin-bottom: 15px;
}

.comment {
  min-height: 75px; 
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid black;
  display: flex; 
  flex-direction: column;
}

.comment-facility-created-at{
  color: #808080;
  font-size: 10px;
  text-align: right;
}

.comment-wrapper {
  display: flex;
  align-items: center;
}

.comment-reviewer-pic {
  width: 50px;
  height:auto;
  border-radius: 50%;
}

.comment-reviewer-image-pic {
  width: 100%; 
  height: auto;
  border-radius: 50%;
}

.comment-reviewer-name {
  margin-left: 20px;
}

.rating {
  margin-left: auto;
}

.rating img{
  width: 16px;
}
.comment-review-content {
  margin-top: 10px;
  margin-left: 5px;
}

.button-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-button {
  padding: 10px 30px;
  background-color: #F0F0F0;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.review-button {
  padding: 10px 20px;
  margin-left: 20px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (min-width:599px){
  .mypage-wrapper{
    width: 500px;
    margin: 0 auto;
  }
}

@media (min-width:1024px){
  .mypage-wrapper{
    width: 500px;
    margin: 0 auto;
  }
}
